# Lab 7  Additional Spark SQL and Dataframe techniques (Total 20 marks)

In [0]:
# Managing Imports
from pyspark.sql.functions import collect_set, avg, round, to_date, col

In [0]:
# Loading all the initial DF's
mpgdf = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("dbfs:/FileStore/mpg.csv")
flight_summary = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("dbfs:/FileStore/flight_summary___Copy.csv")
airportsdf = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("dbfs:/FileStore/airports.csv")
aapl_df = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("dbfs:/FileStore/aapl_2017.csv")

1. (5 marks) The file mpg.csv contains data about various automobiles
Load this file into a dataframe.  Group by the manufacturer and use a collection method to add a column which shows all unique models that manufacturer has.

In [0]:

mpgdf.groupBy("manufacturer").agg(collect_set("model").alias("unique_models")).show(truncate=False)

+------------+--------------------------------------------------------------------------------------+
|manufacturer|unique_models                                                                         |
+------------+--------------------------------------------------------------------------------------+
|land rover  |[range rover]                                                                         |
|pontiac     |[grand prix]                                                                          |
|toyota      |[4runner 4wd, camry solara, corolla, land cruiser wagon 4wd, toyota tacoma 4wd, camry]|
|lincoln     |[navigator 2wd]                                                                       |
|audi        |[a4, a6 quattro, a4 quattro]                                                          |
|jeep        |[grand cherokee 4wd]                                                                  |
|dodge       |[durango 4wd, ram 1500 pickup 4wd, dakota pickup 4wd, caravan 2wd]                    |
|hyundai     |[sonata, tiburon]                                                                     |
|ford        |[explorer 4wd, f150 pickup 4wd, expedition 2wd, mustang]                              |
|chevrolet   |[k1500 tahoe 4wd, c1500 suburban 2wd, corvette, malibu]                               |
|honda       |[civic]                                                                               |
|volkswagen  |[jetta, passat, new beetle, gti]                                                      |
|mercury     |[mountaineer 4wd]                                                                     |
|nissan      |[altima, maxima, pathfinder 4wd]                                                      |
|subaru      |[impreza awd, forester awd]                                                           |
+------------+--------------------------------------------------------------------------------------+

2. (5 marks) For the dataframe loaded from the mpg.csv file, generate a dataframe which is grouped by the year and cylinder (cyl) columns.  Use the pivot method to add columns for the average city mpg(cty) for each manufacturer.  Round the average city mpg to 1 decimal place to make the output easier to read.

In [0]:
mpgdf.groupBy("year", "cyl").pivot("manufacturer").agg(round(avg("cty"), 1).alias("avg_city_mpg")).show(truncate=False)

+----+---+----+---------+-----+----+-----+-------+----+----------+-------+-------+------+-------+------+------+----------+
|year|cyl|audi|chevrolet|dodge|ford|honda|hyundai|jeep|land rover|lincoln|mercury|nissan|pontiac|subaru|toyota|volkswagen|
+----+---+----+---------+-----+----+-----+-------+----+----------+-------+-------+------+-------+------+------+----------+
|2008|8  |16.0|13.6     |11.9 |13.6|null |null   |11.8|12.0      |12.0   |13.0   |12.0  |16.0   |null  |13.5  |null      |
|1999|4  |18.3|19.0     |18.0 |null|24.8 |18.5   |null|null      |null   |null   |20.0  |null   |19.0  |20.0  |23.3      |
|1999|6  |16.2|18.0     |14.9 |15.3|null |18.0   |15.0|null      |null   |14.0   |16.5  |17.0   |null  |16.5  |16.8      |
|2008|6  |16.8|17.5     |15.1 |15.3|null |17.3   |16.0|null      |null   |13.0   |17.8  |18.0   |null  |16.8  |17.0      |
|2008|5  |null|null     |null |null|null |null   |null|null      |null   |null   |null  |null   |null  |null  |20.5      |
|2008|4  |20.0|22.0     |null |null|24.0 |20.5   |null|null      |null   |null   |23.0  |null   |19.5  |22.3  |21.0      |
|1999|8  |null|13.8     |11.0 |12.8|null |null   |14.0|11.0      |11.0   |13.0   |null  |null   |null  |11.0  |null      |
+----+---+----+---------+-----+----+-----+-------+----+----------+-------+-------+------+-------+------+------+----------+

3. (5 marks) The file flight-summary.csv contains information about flights between various locations.   The file airports.csv contains additional information about each airport, some of which is not in the flight-summary.csv file.

Create a dataframe which contains the origin_code, origin_airport, latitude (for origin airport), longitude (for origin airport), dest_code, dest_airport, latitude (for destination airport), longitude (for destination airport) for every flight which originates in the state of Texas (TX).  

Which type of join technique ( Shuffle or Broadcast) did Spark likely use for this exercise?  Why?

In [0]:
flight_summary.show()
airportsdf.show()

+-----------+--------------------+---------------+------------+---------+--------------------+----------------+----------+-----+
|origin_code|      origin_airport|    origin_city|origin_state|dest_code|        dest_airport|       dest_city|dest_state|count|
+-----------+--------------------+---------------+------------+---------+--------------------+----------------+----------+-----+
|        BQN|Rafael Hern√°ndez ...|      Aguadilla|          PR|      MCO|Orlando Internati...|         Orlando|        FL|  441|
|        PHL|Philadelphia Inte...|   Philadelphia|          PA|      MCO|Orlando Internati...|         Orlando|        FL| 4869|
|        MCI|Kansas City Inter...|    Kansas City|          MO|      IAH|George Bush Inter...|         Houston|        TX| 1698|
|        SPI|Abraham Lincoln C...|    Springfield|          IL|      ORD|Chicago O'Hare In...|         Chicago|        IL|  998|
|        SNA|John Wayne Airpor...|      Santa Ana|          CA|      PHX|Phoenix Sky Harbo...|         Phoenix|        AZ| 3846|
|        LBB|Lubbock Preston S...|        Lubbock|          TX|      DEN|Denver Internatio...|          Denver|        CO|  618|
|        ORD|Chicago O'Hare In...|        Chicago|          IL|      PDX|Portland Internat...|        Portland|        OR| 2149|
|        EWR|Newark Liberty In...|         Newark|          NJ|      STT|Cyril E. King Air...|Charlotte Amalie|        VI|  239|
|        ATL|Hartsfield-Jackso...|        Atlanta|          GA|      GSP|Greenville-Sparta...|           Greer|        SC| 2470|
|        MCI|Kansas City Inter...|    Kansas City|          MO|      MKE|General Mitchell ...|       Milwaukee|        WI|  612|
|        PBI|Palm Beach Intern...|West Palm Beach|          FL|      DCA|Ronald Reagan Was...|       Arlington|        VA|  978|
|        SMF|Sacramento Intern...|     Sacramento|          CA|      BUR|Bob Hope Airport¬†...|         Burbank|        CA| 2092|
|        MDW|Chicago Midway In...|        Chicago|          IL|      MEM|Memphis Internati...|         Memphis|        TN|  628|
|        LAS|McCarran Internat...|      Las Vegas|          NV|      LIT|Bill and Hillary ...|     Little Rock|        AR|  334|
|        TPA|Tampa Internation...|          Tampa|          FL|      ACY|Atlantic City Int...|   Atlantic City|        NJ|  335|
|        DSM|Des Moines Intern...|     Des Moines|          IA|      EWR|Newark Liberty In...|          Newark|        NJ|  191|
|        FSD|Sioux Falls Regio...|    Sioux Falls|          SD|      ATL|Hartsfield-Jackso...|         Atlanta|        GA|  329|
|        SJC|Norman Y. Mineta ...|       San Jose|          CA|      LIH|       Lihue Airport|           Lihue|        HI|  190|
|        CLE|Cleveland Hopkins...|      Cleveland|          OH|      SJU|Luis Mu√±oz Mar√≠n ...|        San Juan|        PR|   43|
|        CPR|Natrona County In...|         Casper|          WY|      DEN|Denver Internatio...|          Denver|        CO|  956|
+-----------+--------------------+---------------+------------+---------+--------------------+----------------+----------+-----+
only showing top 20 rows

+---------+--------------------+-------------+-----+-------+--------+----------+
|IATA_CODE|             AIRPORT|         CITY|STATE|COUNTRY|LATITUDE| LONGITUDE|
+---------+--------------------+-------------+-----+-------+--------+----------+
|      ABE|Lehigh Valley Int...|    Allentown|   PA|    USA|40.65236|  -75.4404|
|      ABI|Abilene Regional ...|      Abilene|   TX|    USA|32.41132|  -99.6819|
|      ABQ|Albuquerque Inter...|  Albuquerque|   NM|    USA|35.04022|-106.60919|
|      ABR|Aberdeen Regional...|     Aberdeen|   SD|    USA|45.44906| -98.42183|
|      ABY|Southwest Georgia...|       Albany|   GA|    USA|31.53552| -84.19447|
|      ACK|Nantucket Memoria...|    Nantucket|   MA|    USA|41.25305| -70.06018|
|      ACT|Waco Regional Air...|         Waco|   TX|    USA|31.61129| -97.23052|
|      ACV|      Arcata Airport|Arcata/Eureka|   CA|    USA|40.97812|-124.10862|
|      ACY|Atlantic City Int...|Atlantic City|   NJ|    USA|39.45758| -74.57717|
|      ADK|        Adak Airport|         Adak|   AK|    USA|51.87796|-176.64603|
|      ADQ|      Kodiak Airport|       Kodiak|   AK|    USA|57.74997|-152.49386|
|      AEX|Alexandria Intern...|   Alexandria|   LA|    USA|31.32737| -92.54856|
|      AGS|Augusta Regional ...|      Augusta|   GA|    USA|33.36996|  -81.9645|
|      AKN| King Salmon Airport|  King Salmon|   AK|    USA| 58.6768|-156.64922|
|      ALB|Albany Internatio...|       Albany|   NY|    USA|42.74812| -73.80298|
|      ALO|Waterloo Regional...|     Waterloo|   IA|    USA|42.55708| -92.40034|
|      AMA|Rick Husband Amar...|     Amarillo|   TX|    USA|35.21937|-101.70593|
|      ANC|Ted Stevens Ancho...|    Anchorage|   AK|    USA|61.17432|-149.99619|
|      APN|Alpena County Reg...|       Alpena|   MI|    USA|45.07807| -83.56029|
|      ASE|Aspen-Pitkin Coun...|        Aspen|   CO|    USA|39.22316|-106.86885|
+---------+--------------------+-------------+-----+-------+--------+----------+
only showing top 20 rows

In [0]:
from pyspark.sql.functions import broadcast

joined_df = flight_summary \
    .join(broadcast(airportsdf).alias("origin"), col("origin_code") == col("origin.IATA_CODE"), "left") \
    .join(broadcast(airportsdf).alias("dest"), col("dest_code") == col("dest.IATA_CODE"), "left") \
    .filter(col("origin.state") == "TX") \
    .select(
        col("origin_code"),
        col("origin.airport").alias("origin_airport"),
        col("origin.latitude").alias("origin_latitude"),
        col("origin.longitude").alias("origin_longitude"),
        col("dest_code"),
        col("dest.airport").alias("dest_airport"),
        col("dest.latitude").alias("dest_latitude"),
        col("dest.longitude").alias("dest_longitude")
    )



joined_df.show()

+-----------+--------------------+---------------+----------------+---------+--------------------+-------------+--------------+
|origin_code|      origin_airport|origin_latitude|origin_longitude|dest_code|        dest_airport|dest_latitude|dest_longitude|
+-----------+--------------------+---------------+----------------+---------+--------------------+-------------+--------------+
|        LBB|Lubbock Preston S...|       33.66364|      -101.82278|      DEN|Denver Internatio...|     39.85841|      -104.667|
|        AUS|Austin-Bergstrom ...|       30.19453|       -97.66987|      ELP|El Paso Internati...|     31.80667|    -106.37781|
|        HOU|William P. Hobby ...|       29.64542|       -95.27889|      PDX|Portland Internat...|     45.58872|     -122.5975|
|        DFW|Dallas/Fort Worth...|       32.89595|        -97.0372|      PNS|Pensacola Interna...|     30.47331|     -87.18744|
|        DFW|Dallas/Fort Worth...|       32.89595|        -97.0372|      SDF|Louisville Intern...|     38.17439|       -85.736|
|        BPT|Jack Brooks Regio...|       29.95083|       -94.02069|      DFW|Dallas/Fort Worth...|     32.89595|      -97.0372|
|        DFW|Dallas/Fort Worth...|       32.89595|        -97.0372|      HOU|William P. Hobby ...|     29.64542|     -95.27889|
|        SAT|San Antonio Inter...|       29.53369|       -98.46978|      LAS|McCarran Internat...|     36.08036|    -115.15233|
|        IAH|George Bush Inter...|       29.98047|       -95.33972|      LIT|Bill and Hillary ...|      34.7294|     -92.22425|
|        IAH|George Bush Inter...|       29.98047|       -95.33972|      BZN|Bozeman Yellowsto...|      45.7769|    -111.15301|
|        DFW|Dallas/Fort Worth...|       32.89595|        -97.0372|      VPS|Destin-Fort Walto...|     30.48325|      -86.5254|
|        ELP|El Paso Internati...|       31.80667|      -106.37781|      LAS|McCarran Internat...|     36.08036|    -115.15233|
|        DAL|   Dallas Love Field|       32.84711|       -96.85177|      ICT|Wichita Dwight D....|     37.64996|     -97.43305|
|        LBB|Lubbock Preston S...|       33.66364|      -101.82278|      IAH|George Bush Inter...|     29.98047|     -95.33972|
|        IAH|George Bush Inter...|       29.98047|       -95.33972|      GSP|Greenville-Sparta...|     34.89567|     -82.21886|
|        DAL|   Dallas Love Field|       32.84711|       -96.85177|      IAH|George Bush Inter...|     29.98047|     -95.33972|
|        IAH|George Bush Inter...|       29.98047|       -95.33972|      DEN|Denver Internatio...|     39.85841|      -104.667|
|        CRP|Corpus Christi In...|       27.77036|       -97.50122|      IAH|George Bush Inter...|     29.98047|     -95.33972|
|        AMA|Rick Husband Amar...|       35.21937|      -101.70593|      DAL|   Dallas Love Field|     32.84711|     -96.85177|
|        AUS|Austin-Bergstrom ...|       30.19453|       -97.66987|      IAD|Washington Dulles...|     38.94453|     -77.45581|
+-----------+--------------------+---------------+----------------+---------+--------------------+-------------+--------------+
only showing top 20 rows

4. (5 marks) The file aapl-2017.csv contains information about daily apple stock prices.  Calculate the weekly average price using a window function inside the groupBy transformation.  Order the result by the start time.

In [0]:
from pyspark.sql.functions import col, weekofyear, avg, to_date

# Convert 'date' column to DateType
aapl_df = aapl_df.withColumn("date", to_date(col("date"), "yyyy-MM-dd"))

# Group by the week number and calculate the average price
aapl_df.groupBy(weekofyear(col("date")).alias("week_number")).agg(avg(col("close")).alias("weekly_avg_price")).orderBy("week_number").show(truncate=False)

+-----------+------------------+
|week_number|weekly_avg_price  |
+-----------+------------------+
|1          |116.67250100000001|
|2          |119.228           |
|3          |119.94249925      |
|4          |121.16399980000001|
|5          |125.86799920000001|
|6          |131.6799956       |
|7          |134.97799980000002|
|8          |136.75000025      |
|9          |138.4899994       |
|10         |139.1359984       |
|11         |139.8660032       |
|12         |140.8559996       |
|13         |143.278           |
|14         |143.898001        |
|15         |141.91250225      |
|16         |141.68399959999996|
|17         |143.85799559999998|
|18         |147.32800020000002|
|19         |154.0619996       |
|20         |153.40399779999998|
+-----------+------------------+
only showing top 20 rows